@use "sass:color";
@use "../../colors" as *;
@use "../../config" as *;
@use "../../helpers/functions";

// Slate: Light theme
@mixin theme {
  color-scheme: light;

  --cirth-background-color: #{$white};

  // Text color
  --cirth-color: #{$zinc-750};

  // Text selection color
  --cirth-text-selection-color: #{rgba($slate-400, 0.25)};

  // Muted colors
  --cirth-muted-color: #{$zinc-550};
  --cirth-muted-border-color: #{color.mix($slate-100, $slate-50)};

  // Primary colors
  --cirth-primary: #{$slate-550};
  --cirth-primary-background: #{$slate-600};
  --cirth-primary-border: var(--cirth-primary-background);
  --cirth-primary-underline: #{rgba($slate-550, 0.5)};
  --cirth-primary-hover: #{$slate-650};
  --cirth-primary-hover-background: #{$slate-650};
  --cirth-primary-hover-border: var(--cirth-primary-hover-background);
  --cirth-primary-hover-underline: var(--cirth-primary-hover);
  --cirth-primary-focus: #{rgba($slate-400, 0.5)};
  --cirth-primary-inverse: #{$white};

  // Secondary colors
  --cirth-secondary: #{$slate-550};
  --cirth-secondary-background: #{$slate-600};
  --cirth-secondary-border: var(--cirth-secondary-background);
  --cirth-secondary-underline: #{rgba($slate-550, 0.5)};
  --cirth-secondary-hover: #{$slate-650};
  --cirth-secondary-hover-background: #{$slate-650};
  --cirth-secondary-hover-border: var(--cirth-secondary-hover-background);
  --cirth-secondary-hover-underline: var(--cirth-secondary-hover);
  --cirth-secondary-focus: #{rgba($slate-550, 0.25)};
  --cirth-secondary-inverse: #{$white};

  // Contrast colors
  --cirth-contrast: #{$slate-900};
  --cirth-contrast-background: #{$slate-900};
  --cirth-contrast-border: var(--cirth-contrast-background);
  --cirth-contrast-underline: #{rgba($slate-900, 0.5)};
  --cirth-contrast-hover: #{$black};
  --cirth-contrast-hover-background: #{$black};
  --cirth-contrast-hover-border: var(--cirth-contrast-hover-background);
  --cirth-contrast-hover-underline: var(--cirth-secondary-hover);
  --cirth-contrast-focus: #{rgba($slate-550, 0.25)};
  --cirth-contrast-inverse: #{$white};

  // Box shadow
  --cirth-box-shadow: #{functions.shadow($slate-400)};

  // Typography
  // Headings colors
  --cirth-h1-color: #{$zinc-800};
  --cirth-h2-color: #{$zinc-750};
  --cirth-h3-color: #{$zinc-700};
  --cirth-h4-color: #{$zinc-650};
  --cirth-h5-color: #{$zinc-600};
  --cirth-h6-color: #{$zinc-550};

  // Highlighted text (<mark>)
  --cirth-mark-background-color: #{color.mix($amber-100, $amber-50)};
  --cirth-mark-color: #{$zinc-950};

  // Inserted (<ins>) & Deleted (<del>)
  --cirth-ins-color: #{color.mix($jade-450, $zinc-750)};
  --cirth-del-color: #{color.mix($red-500, $zinc-750)};

  // Blockquote
  --cirth-blockquote-border-color: var(--cirth-muted-border-color);
  --cirth-blockquote-footer-color: var(--cirth-muted-color);

  // Button
  // To disable box-shadow, remove the var or set to '0 0 0 rgba(0, 0, 0, 0)'
  // Don't use, 'none, 'false, 'null', '0', etc.
  --cirth-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  --cirth-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);

  // Table
  --cirth-table-border-color: var(--cirth-muted-border-color);
  --cirth-table-row-stripped-background-color: #{rgba($zinc-500, 0.0375)};

  // Code
  --cirth-code-background-color: #{color.mix($slate-50, $white, 75%)};
  --cirth-code-color: #{$zinc-550};
  --cirth-code-kbd-background-color: var(--cirth-color);
  --cirth-code-kbd-color: var(--cirth-background-color);

  // Form elements
  --cirth-form-element-background-color: #{color.mix($slate-50, $white, 25%)};
  --cirth-form-element-selected-background-color: #{$slate-100};
  --cirth-form-element-border-color: #{$slate-150};
  --cirth-form-element-color: #{$zinc-850};
  --cirth-form-element-placeholder-color: var(--cirth-muted-color);
  --cirth-form-element-active-background-color: #{$white};
  --cirth-form-element-active-border-color: var(--cirth-primary-border);
  --cirth-form-element-focus-color: var(--cirth-primary-border);
  --cirth-form-element-disabled-opacity: var(--cirth-opacity-disabled);
  --cirth-form-element-invalid-border-color: #{color.mix($red-500, $zinc-350)};
  --cirth-form-element-invalid-active-border-color: #{color.mix(
      $red-500,
      $zinc-350,
      75%
    )};
  --cirth-form-element-invalid-focus-color: var(
    --cirth-form-element-invalid-active-border-color
  );
  --cirth-form-element-valid-border-color: #{color.mix($jade-450, $zinc-350)};
  --cirth-form-element-valid-active-border-color: #{color.mix(
      $jade-450,
      $zinc-350,
      75%
    )};
  --cirth-form-element-valid-focus-color: var(
    --cirth-form-element-valid-active-border-color
  );

  // Switch (input[type="checkbox"][role="switch"])
  --cirth-switch-background-color: #{$slate-200};
  --cirth-switch-checked-background-color: var(--cirth-primary-background);
  --cirth-switch-color: #{$white};
  --cirth-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);

  // Range (input[type="range"])
  --cirth-range-border-color: #{$slate-100};
  --cirth-range-active-border-color: #{$slate-200};
  --cirth-range-thumb-border-color: var(--cirth-background-color);
  --cirth-range-thumb-color: var(--cirth-secondary-background);
  --cirth-range-thumb-active-color: var(--cirth-primary-background);

  // Accordion (<details>)
  --cirth-accordion-border-color: var(--cirth-muted-border-color);
  --cirth-accordion-active-summary-color: var(--cirth-primary-hover);
  --cirth-accordion-close-summary-color: var(--cirth-color);
  --cirth-accordion-open-summary-color: var(--cirth-muted-color);

  // Card (<article>)
  --cirth-card-background-color: var(--cirth-background-color);
  --cirth-card-border-color: var(--cirth-muted-border-color);
  --cirth-card-box-shadow: var(--cirth-box-shadow);
  --cirth-card-sectioning-background-color: #{color.mix($slate-50, $white, 25%)};

  // Dropdown (details.dropdown)
  @if $enable-classes {
    --cirth-dropdown-background-color: #{$white};
    --cirth-dropdown-border-color: #{$slate-50};
    --cirth-dropdown-box-shadow: var(--cirth-box-shadow);
    --cirth-dropdown-color: var(--cirth-color);
    --cirth-dropdown-hover-background-color: #{$slate-50};
  }

  // Loading ([aria-busy=true])
  --cirth-loading-spinner-opacity: var(--cirth-opacity-disabled);

  // Modal (<dialog>)
  --cirth-modal-overlay-background-color: #{rgba(
      color.mix($zinc-100, $zinc-50),
      var(--cirth-opacity-overlay)
    )};

  // Progress
  --cirth-progress-background-color: #{$slate-100};
  --cirth-progress-color: var(--cirth-primary-background);

  // Tooltip ([data-tooltip])
  --cirth-tooltip-background-color: var(--cirth-contrast-background);
  --cirth-tooltip-color: var(--cirth-contrast-inverse);

  // Form validation icons
  --cirth-icon-valid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#{functions.display-rgb(color.mix($jade-450, $zinc-350))}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
  --cirth-icon-invalid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#{functions.display-rgb(color.mix($red-500, $zinc-350, 75%))}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='8' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='16' x2='12.01' y2='16'%3E%3C/line%3E%3C/svg%3E");

  // Focus for buttons, radio and select
  input:is(
      [type="submit"],
      [type="button"],
      [type="reset"],
      [type="checkbox"],
      [type="radio"],
      [type="file"]
    ) {
    --cirth-form-element-focus-color: var(--cirth-primary-focus);
  }
}
