---
layout: false
permalink: /specimen/states/blue/index.html
eleventyExcludeFromCollections: true
specimenTitle: Custom blue
specimenPrimary: light-dark(oklch(50% 0.17 245deg), oklch(70% 0.12 245deg))
---
{% include "component-state-matrix.njk" %}
