@use "../config" as *;

/**
   * Input type search
   */

// :not() adds the specificity needed to keep the search padding stable

#{$parent-selector}
  input:not([type="checkbox"], [type="radio"], [type="range"], [type="file"]) {
  &[type="search"] {
    padding-inline-start: calc(
      var(--cirth-form-element-spacing-horizontal) + 1.75rem
    );
    background-image: var(--cirth-icon-search);
    background-position: center left
      calc(var(--cirth-form-element-spacing-horizontal) + 0.125rem);
    background-size: 1rem auto;
    background-repeat: no-repeat;

    &[aria-invalid] {
      padding-inline-start: calc(
        var(--cirth-form-element-spacing-horizontal) + 1.75rem
      );
      background-position:
        center left 1.125rem,
        center right 0.75rem;
    }

    &[aria-invalid="false"] {
      background-image: var(--cirth-icon-search), var(--cirth-icon-valid);
    }

    &[aria-invalid="true"] {
      background-image: var(--cirth-icon-search), var(--cirth-icon-invalid);
    }
  }
}

[dir="rtl"] {
  #{$parent-selector} :where(input) {
    &:not([type="checkbox"], [type="radio"], [type="range"], [type="file"]) {
      &[type="search"] {
        background-position: center right 1.125rem;

        &[aria-invalid] {
          background-position:
            center right 1.125rem,
            center left 0.75rem;
        }
      }
    }
  }
}
