@use "../config" as *;

/**
   * Input type file
   */

// 1. Hack to display the outline on the focused file selector button

//    with the forced overflow hidden on the input[type="file"] element.

#{$parent-selector} [type="file"] {
  --cirth-color: var(--cirth-muted-color);
  margin-left: calc(var(--cirth-outline-width) * -1); // 1
  padding: calc(var(--cirth-form-element-spacing-vertical) * 0.5) 0;
  padding-left: var(--cirth-outline-width); // 1
  border: 0;
  border-radius: 0;
  background: none;

  &::file-selector-button {
    margin-right: calc(var(--cirth-spacing) / 2);
    padding: calc(var(--cirth-form-element-spacing-vertical) * 0.5)
      var(--cirth-form-element-spacing-horizontal);
  }

  &:is(:hover, :active, :focus) {
    &::file-selector-button {
      --cirth-background-color: var(--cirth-secondary-hover-background);
      --cirth-border-color: var(--cirth-secondary-hover-border);
    }
  }

  &:focus {
    &::file-selector-button {
      --cirth-box-shadow:
        var(--cirth-button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)),
        0 0 0 var(--cirth-outline-width) var(--cirth-secondary-focus);
    }
  }
}
