@use "../config" as *;

/**
   * Input type search
   */

// :not() adds the specificity needed to keep the search padding stable

#{$parent-selector}
  input:not([type="checkbox"], [type="radio"], [type="range"], [type="file"]) {
  &[type="search"] {
    padding-inline-start: calc(
      var(--cirth-form-element-spacing-horizontal) + var(--cirth-space-6)
    );
    background-image: var(--cirth-icon-search);
    background-position: center left
      var(--cirth-form-element-spacing-horizontal);
    background-size: 1rem auto;
    background-repeat: no-repeat;

    &[aria-invalid] {
      padding-inline-start: calc(
        var(--cirth-form-element-spacing-horizontal) + var(--cirth-space-6)
      );
      background-position:
        center left var(--cirth-form-element-spacing-horizontal),
        center right var(--cirth-space-3);
    }

    &[aria-invalid="false"] {
      background-image: var(--cirth-icon-search), var(--cirth-icon-valid);
    }

    &[aria-invalid="true"] {
      background-image: var(--cirth-icon-search), var(--cirth-icon-invalid);
    }
  }
}

[dir="rtl"] {
  #{$parent-selector} :where(input) {
    &:not([type="checkbox"], [type="radio"], [type="range"], [type="file"]) {
      &[type="search"] {
        background-position: center right
          var(--cirth-form-element-spacing-horizontal);

        &[aria-invalid] {
          background-position:
            center right var(--cirth-form-element-spacing-horizontal),
            center left var(--cirth-space-3);
        }
      }
    }
  }
}
