@use "../config" as *;

/**
   * Input type datetime
   */

// :not() adds the specificity needed to keep the date input padding stable

#{$parent-selector}
  input:not([type="checkbox"], [type="radio"], [type="range"], [type="file"]) {
  &:is(
      [type="date"],
      [type="datetime-local"],
      [type="month"],
      [type="time"],
      [type="week"]
    ) {
    --cirth-icon-position: var(--cirth-space-3);
    --cirth-icon-width: var(--cirth-size-4);
    padding-right: calc(var(--cirth-icon-width) + var(--cirth-icon-position));
    background-image: var(--cirth-icon-date);
    background-position: center right var(--cirth-icon-position);
    background-size: var(--cirth-icon-width) auto;
    background-repeat: no-repeat;
  }

  // Time
  &[type="time"] {
    background-image: var(--cirth-icon-time);
  }
}

// Calendar picker

#{$parent-selector} [type="date"],
#{$parent-selector} [type="datetime-local"],
#{$parent-selector} [type="month"],
#{$parent-selector} [type="time"],
#{$parent-selector} [type="week"] {
  &::-webkit-calendar-picker-indicator {
    width: var(--cirth-icon-width);
    margin-right: calc(var(--cirth-icon-width) * -1);
    margin-left: var(--cirth-icon-position);
    opacity: 0;
  }
}

// Calendar icons are hidden in Firefox

@-moz-document url-prefix() {
  #{$parent-selector} [type="date"],
  #{$parent-selector} [type="datetime-local"],
  #{$parent-selector} [type="month"],
  #{$parent-selector} [type="time"],
  #{$parent-selector} [type="week"] {
    padding-right: var(--cirth-form-element-spacing-horizontal);
    background-image: none;
  }
}

[dir="rtl"]
  #{$parent-selector}
  :is(
    [type="date"],
    [type="datetime-local"],
    [type="month"],
    [type="time"],
    [type="week"]
  ) {
  text-align: right;
}
