@use "../config" as *;

/**
   * Figure
   */

#{$parent-selector} figure {
  display: block;
  margin: 0;
  padding: 0;

  figcaption {
    padding: calc(var(--cirth-spacing) * 0.5) 0;
    color: var(--cirth-muted-color);
  }
}
