@use "../config" as *;

/**
   * Link
   */

#{$parent-selector} :where(a:not([role="button"])),
#{$parent-selector} [role="link"] {
  --cirth-color: var(--cirth-primary);
  --cirth-background-color: transparent;
  --cirth-underline: var(--cirth-primary-underline);
  outline: none;
  background-color: var(--cirth-background-color); // 1
  color: var(--cirth-color);
  text-decoration: var(--cirth-text-decoration);
  text-decoration-color: var(--cirth-underline);
  text-underline-offset: 0.125em;
  transition:
    background-color var(--cirth-transition),
    color var(--cirth-transition),
    text-decoration var(--cirth-transition),
    box-shadow var(--cirth-transition);

  &:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
    --cirth-color: var(--cirth-primary-hover);
    --cirth-underline: var(--cirth-primary-hover-underline);
    --cirth-text-decoration: underline;
  }

  &:focus-visible {
    box-shadow: 0 0 0 var(--cirth-outline-width) var(--cirth-primary-focus);
  }

  @if $enable-classes {
    // Secondary
    &.secondary {
      --cirth-color: var(--cirth-secondary);
      --cirth-underline: var(--cirth-secondary-underline);

      &:is(
          [aria-current]:not([aria-current="false"]),
          :hover,
          :active,
          :focus
        ) {
        --cirth-color: var(--cirth-secondary-hover);
        --cirth-underline: var(--cirth-secondary-hover-underline);
      }
    }

    // Contrast
    &.contrast {
      --cirth-color: var(--cirth-contrast);
      --cirth-underline: var(--cirth-contrast-underline);

      &:is(
          [aria-current]:not([aria-current="false"]),
          :hover,
          :active,
          :focus
        ) {
        --cirth-color: var(--cirth-contrast-hover);
        --cirth-underline: var(--cirth-contrast-hover-underline);
      }
    }
  }
}

#{$parent-selector} a {
  &[role="button"] {
    display: inline-block;
  }
}
