---
layout: false
permalink: /specimen/blue/index.html
eleventyExcludeFromCollections: true
specimenTitle: Custom blue
specimenPrimary: light-dark(oklch(50% 0.17 245deg), oklch(70% 0.12 245deg))
---
{% include "framework-specimen.njk" %}
