@use "sass:map";
@use "../breakpoints" as *;
@use "../config" as *;
@use "../helpers/selectors";

/**
   * Modal (<dialog>)
   */

@include selectors.root {
  --cirth-scrollbar-width: 0px;
}

#{$parent-selector} dialog {
  display: flex;
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: inherit;
  min-width: 100%;
  height: inherit;
  min-height: 100%;
  padding: 0;
  border: 0;
  backdrop-filter: var(--cirth-modal-overlay-backdrop-filter);
  background-color: var(--cirth-modal-overlay-background-color);
  color: var(--cirth-color);

  // Content
  > article {
    $close-selector: ":is(a, button)[rel=prev]";

    @if $enable-classes {
      $close-selector: ".close, :is(a, button)[rel=prev]";
    }

    width: 100%;
    max-height: calc(100vh - var(--cirth-spacing) * 2);
    margin: var(--cirth-spacing);
    overflow: auto;

    @if map.get($breakpoints, "sm") {
      @media (min-width: map.get(map.get($breakpoints, "sm"), "breakpoint")) {
        max-width: map.get(map.get($breakpoints, "sm"), "viewport");
      }
    }

    @if map.get($breakpoints, "md") {
      @media (min-width: map.get(map.get($breakpoints, "md"), "breakpoint")) {
        max-width: map.get(map.get($breakpoints, "md"), "viewport");
      }
    }

    > header {
      > * {
        margin-bottom: 0;
      }

      #{$close-selector} {
        margin: 0;
        margin-left: var(--cirth-spacing);
        padding: 0;
        float: right;
      }
    }

    > footer {
      text-align: right;

      button,
      [role="button"] {
        margin-bottom: 0;

        &:not(:first-of-type) {
          margin-left: calc(var(--cirth-spacing) * 0.5);
        }
      }
    }

    // Close icon
    #{$close-selector} {
      display: block;
      width: 1rem;
      height: 1rem;
      margin-top: calc(var(--cirth-spacing) * -1);
      margin-bottom: var(--cirth-spacing);
      margin-left: auto;
      border: none;
      background-image: var(--cirth-icon-close);
      background-position: center;
      background-size: auto 1rem;
      background-repeat: no-repeat;
      background-color: transparent;
      opacity: 0.5;
      transition: opacity var(--cirth-transition);

      &:is(
          [aria-current]:not([aria-current="false"]),
          :hover,
          :active,
          :focus
        ) {
        opacity: 1;
      }
    }
  }

  // Closed state
  &:not([open]),
  &[open="false"] {
    display: none;
  }
}

@if $enable-classes {
  @include selectors.state(".modal-is-open") {
    padding-right: var(--cirth-scrollbar-width, 0px);
    overflow: hidden;
    pointer-events: none;
    touch-action: none;

    dialog {
      pointer-events: auto;
      touch-action: auto;
    }
  }
}

// Animations

@if $enable-classes {
  $animation-duration: 0.2s;

  @include selectors.state(":where(.modal-is-opening, .modal-is-closing)") {
    dialog,
    dialog > article {
      animation-duration: $animation-duration;
      animation-timing-function: ease-in-out;
      animation-fill-mode: both;
    }

    dialog {
      animation-duration: ($animation-duration * 4);
      animation-name: modal-overlay;

      > article {
        animation-delay: $animation-duration;
        animation-name: modal;
      }
    }
  }

  @include selectors.state(".modal-is-closing") {
    dialog,
    dialog > article {
      animation-delay: 0s;
      animation-direction: reverse;
    }
  }
}

@if $enable-classes {
  @keyframes modal-overlay {
    from {
      backdrop-filter: none;
      background-color: transparent;
    }
  }

  @keyframes modal {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
  }
}
