---
layout: false
permalink: /specimen/surfaces/probe/index.html
eleventyExcludeFromCollections: true
specimenTitle: Probe accent
specimenPrimary: light-dark(oklch(50% 0.09 200deg), oklch(72% 0.1 200deg))
---
{% include "surface-matrix.njk" %}
