---
layout: false
permalink: /lab/default/index.html
eleventyExcludeFromCollections: true
labLabel: Default
labStylesheet: cirth-lab-default.css
labScoped: false
labClassless: false
---
{% include "lab-ui.njk" %}
