---
layout: false
permalink: /lab/scoped/index.html
eleventyExcludeFromCollections: true
labLabel: Scoped
labStylesheet: cirth-lab-scoped.css
labScoped: true
labClassless: false
---
{% include "lab-ui.njk" %}
