@use "sass:map";
@use "../breakpoints" as *;
@use "../config" as *;

@if $enable-classes {
  /**
   * Container
   */

  #{$parent-selector} .container,
  #{$parent-selector} .container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: var(--cirth-spacing);
    padding-left: var(--cirth-spacing);
  }

  #{$parent-selector} .container {
    $first-breakpoint: true;
    @each $key, $values in $breakpoints {
      @if $values {
        @media (min-width: map.get($values, "breakpoint")) {
          max-width: map.get($values, "viewport");
          @if $first-breakpoint {
            $first-breakpoint: false;
            padding-right: 0;
            padding-left: 0;
          }
        }
      }
    }
  }
}
